/*------------------------------ header  ---------------------------------  */

/* ---------------------------- (min-width:320px) and (max-width:480px) -------------------------------------- */


@media (min-width:320px) and (max-width:400px){
.top-seller-data-main{
    margin-left: -0.001rem !important;
}
.indexes-explre-comp{
    margin-left: 3.1rem !important;
}

}

@media (min-width:320px) and (max-width:480px){

    /* ---------------------- header ---------------- */

    .navbar-brand{
        font-size: 15px !important;
        margin-top: 0.6rem;
        margin-left: 0.6rem;
    }
    .foot-inputs-upper{
        width: 230px !important;
    }
    .header-main-data-head-small{
        background-color: #000 !important;
    }
    .header-small-middle{
        height: 36px;
        margin-top: 0.3rem;
    }
    .header-upper{
        padding: 0.1rem 0.2rem !important;
    }
    .nav-link-data{
        color: #fff !important;
    }
    .wallet-btn{
        display: none;
    }

     /*-------------------- home --------------------------  */
     .home-head{
     margin-top: 4rem !important;
     }
     .home-head-heading{
        font-size: 28px !important;
    }
    .home-head-heading-data{
        font-size: 12px;
        text-align: center !important;
    }
    .slider-carousal{
        display: none !important;
    }
    .slider-carousal-1{
        margin-left: 1rem;
    }
    .top-category-main1{
        display: none;
    }
    .top-category-heading-nav{
        display:none !important;
       }
       .top-category-heading{
           margin-left: 1rem;
       }
       .top-category-main1-small{
        display: block !important;
        margin-top: 5rem;
        margin-left: -0.5rem;
    }

     /*------------------ banner ---------------------  */
     .internet-banner{
        margin-top: -5rem !important;
    }

     /* ---------- Slider big1  -----------*/
     .slider1-big{
        display: none;
    }
    .explore-blogchain{
        display: none !important;
    }
    .explore-main{
        margin-top: -5rem !important;
        /* margin-left: 1.5rem; */
    }
    .indexes-explre-comp{
        margin-left: 4.2rem;
    }

   
    .banner-heading-head{
        font-size: 22px;
    }
    .banner-header-head-data{
        font-size: 0.8rem;
    }
    .foot-inputs-upper{
        padding: 0.4rem 2rem;
    }
    .banner-header-head-btns{
        padding: 0.4rem 0.7rem;
    }
    .nft-main-div{
        display: flex;
        justify-content: center !important;
        
    }
    .footer-datas{
        margin-top:-1rem;
        font-size: 14px;
    }
    .footer-data-value{
        font-size: 12px;
    }
    .footer-data-value1{
        margin-top:-1rem;
        font-size: 12px;
    }
    .footer-logo-headings{
        font-size: 27px;
    }
    .foot-twitter{
        width: 35px;
        height: 35px;
        background-color: #6d6a6a;
        border-radius: 50%;
        cursor: pointer;
        margin: 1rem 0;
    }
    .twitt{
        margin-left: 0.4rem;
        margin-top: 0.6rem;
        color: #fff;
    }
    .foot-inputs{
        border: none;
    outline: none;
    border-radius: 0px !important;
    padding: 0.3rem 3rem;
    background-color: #241A30;
    width: 150px;
    }
    .foot-inputs-btn{   
    padding: 0.3rem 1.2rem;
    border-radius: 0px !important;
    outline: none;
    border: none;
    color: #fff;
    font-size: 11px;
    background: linear-gradient(90deg,#E76FEB, #986BF8);
}
.foot-copyright-text{
    font-size: 0.7rem ;
    margin-top: -0.3rem;
}
.foot-div-right{
    margin-top: -0.8rem !important;
}
.foot-copy{
    margin-top: -0.4rem !important;
}
.foot-copyright-text1{
    font-size: 12px !important;
}
body{
overflow-x: hiddden;
}

.footer-bottom-div{
    margin-top: 1.7rem 0;
    height: 30px;
}
.header-small-data{
    margin-left: -0.1rem !important;
}
.nft-head{
    font-size: 23px !important;
}
}

/* ---------------------------- (min-width:481px) and (max-width:768px) -------------------------------------- */

@media (min-width:481px) and (max-width:778px){

    .navbar-brand{
        font-size: 25px !important;
        margin-top: 0.6rem;
    }
    .header-main-data-head-small{
        background-color: #000 !important;
    }
    .header-small-middle{
        height: 46px;
        margin-top: 0.5rem;
    }
    .header-upper{
        padding: 0.5rem 2rem !important;
    }
    .nav-link-data{
        color: #fff !important;
    }
    .wallet-btn{
        display: none;
    }
      /*-------------------- home --------------------------  */
      .home-head-heading{
        font-size: 35px !important;
    }
    .home-head-heading-data{
        font-size: 14px;
        text-align: center !important;
    }
    .slider-carousal{
        display: none !important;
    }
    .top-category-main1{
        display: none !important;
    }
    .top-category-main1-small{
        display: block !important;
        margin-top: 5rem;
        margin-left: 1rem;
    }
    .top-category-heading-nav{
     display:none !important;
    }

    /*------------------ banner ---------------------  */
    .internet-banner{
        margin-top: -4rem !important;
    }

    .explore-main{
        margin-top: -4rem !important;
    }
    /* ---------- Slider big1  -----------*/
    .slider1-big{
        display: none;
    }
    .explore-blogchain{
        display: none !important;
    }
    .banner-heading-head{
        font-size: 27px;
    }
    .banner-header-head-data{
        font-size: 1rem;
    }
    .foot-inputs-upper{
        padding: 0.5rem 3rem;
    }
    .banner-header-head-btns{
        padding: 0.5rem 1rem;
    }

    .nft-main-div{
        display: flex;
        justify-content: center !important;

    }
    .nft-head{
        font-size: 28px;
    }
    .banner-opd-main{
        height: 30vh !important;
       }
       .nft-main-div{
        margin: 0 0.4rem !important;
       }
       .nft-button{
        display: flex;
        justify-content: center !important;
       }
       .twitt{
        margin-left: 0.6rem !important;
        margin-top: 0.6rem;
        color: #fff;
    }
    .foot-twitt{
        margin: 1rem 0;
    }
    body{
        overflow-x: hiddden;
        }
        
        
.footer-bottom-div{
    margin-top: 1.7rem 0;
    height: 40px;
}
 
    
}


/* ---------------------------- (min-width:769px) and (max-width:992px) -------------------------------------- */

@media (min-width:778px) and (max-width:992px){
   
    .header-main-data-head-small{
        background-color: #000 !important;
    }
    .header-small-middle{
        height: 46px;
        margin-top: 0.5rem;
    }
    .header-upper{
        padding: 0.5rem 7rem !important;
    }
    .nav-link-data{
        color: #fff !important;
    }
    .slider-carousal-1{
        display: none !important;
    }
    .slider-carousal{
        margin-left: 3rem;
    }
    .top-category-main1{
        display: none !important;
    }
    .top-category-main1-small{
        display: block !important;
        margin-top: 5rem;
    }
    .top-category-heading{
   font-size: 25px;
   margin-top: 1rem;
    }
    .top-category-heading-nav{
        margin-top: 1.6rem;
        font-size: 13px;
        font-family: vishalRegular;
        color: #fff;
        cursor: pointer;
    }
    .top-category-heading-nav-data-btn {
     padding: 0.4rem 1rem !important;
    }

    .explore-main{
        margin-top: -1rem !important;
    }
    .explore-main-head{
        margin-left: 0.8rem;
    }

     /* ---------- Slider big1  -----------*/
     .slider1-big{
        display: none;
    }
    .explore-blogchain{
        margin-top: 0.9rem !important;
    }
    .banner-opd-main{
     height: 30vh !important;
    }
    .explore-main-right-div{
        margin-top: -0.2rem !important;
    }
    body{
        overflow-x: hiddden;
        }
        .foot-twitt{
            margin: 1rem 0;
        }
        .footer-bottom-div{
            margin-top: 1.7rem 0;
            height: 40px;
        }
}

/* ---------------------------- (min-width:993px) and (max-width:1200px) -------------------------------------- */

@media (min-width:993px) and (max-width:1200px){
    .header-main-data-head-small{
        display: none;
    }
    .slider-carousal-1{
        display: none !important;
    }
    .top-category-main1-small{
        display: none !important;
    }
    .slider1-small-scr{
        display: none;
    }

    
}

/* ---------------------------- (min-width:1200px and more) -------------------------------------- */

@media (min-width:1201px){
    .header-main-data-head-small{
        display: none;
    }
    .slider-carousal-1{
        display: none !important;
    }
    .top-category-main1-small{
        display: none !important;
    }
    .slider1-small-scr{
        display: none;
    }
}